<!DOCTYPE html>
<html>
  <head>
    <title>Find A Doctor</title>
  </head>

  <body>
    <div class="row">
        <div class="col-md-4" id="left">
          <form id="search">
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" name="city" id="city" value="Portland"><br>
              <label for="state">State:</label>
              <input type="text" name="state" id="state" value="OR">

            </br>
            </br>
              <label for="condition">What Ails You?</label>
              <select class="form control" name="condtion" id="query">

              </select>
            </div>
            <button type="submit" name="search">Search for Doctors</button>
          </form>
        </div>

        
        <div class="col-md-4" id="center">
          <div class="results">
          </div>
        </div>
        <div class="col-md-4" id="right"></div>
    </div>
  </body>
</html>
